*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}



.content {
  height: 534px;
  width: 1140px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__details {
  height: 100%;
  width: 100%;
}

.content__list-container {
  block-size: 298px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  margin-bottom: 31px;
}

.content__list-item {
  padding: 0px 3px;
}
.result__video-container {
  height: 386px;
  width: 711px;
  margin-bottom: 16px;
  position: relative;
}

.result__video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.search-form__fieldset {
  width: 225px;
  height: 54px;
  border: none;
}

.search-form__textfield {
  inline-size: 225px;
  block-size: 27px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:active {
  border-right-color: #fff;
  border-left-color: #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__fieldset-time {
  padding-left: 7px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  height: 24px;
}


.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:has(:not(:active):focus-visible) {
  outline: 1px #fff solid;
  outline-offset: 2px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  height: 19px;
  width: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 22px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
}

.content__card-link_current {
  background: transparent;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__video-card-description-container {
  max-width: 196px; /* для ситуаций переполнения блока текстом*/
  flex-grow: 1;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4px;
  padding-top: 2px;
}

.content__video-card-description {
  line-height: 90%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.button:hover {
  text-decoration: underline;

}

button:active {
  background-color: #545050;
}

.search-form__submit-button {
  min-inline-size: 194px;
  height: 34px;
  align-self:flex-end;
  margin-bottom: 3px;
}

.more-button {
  width: 100%;
  height: 34px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 3px;
}



